html
    head
        title Platzigram
        link(rel='stylesheet' type='text/css' href='public/css/app.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet')
        link(rel='icon' type='image/vnd.microsoft.icon' href='public/img/favicon.ico' sizes='16x16 24x24 36x36 48x48')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
    body
        section#main-container
        footer.site-footer
        .container
            div.row
                div.col.s12.l3.center-align
                    a.dropdown-button.btn.btn-flat(href='#', data-activates='dropdown1') Idioma
                    ul#dropdown1.dropdown-content
                        li
                            a(href='#!') Español
                        li
                            a(href='#!') Inglés
                div.col.s12.l3.push-l6.center-align © 2016 Platzigram
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')

        
